/* navigation bar */
.navbar{
    padding-left: 0;
  }
  .navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bolder;
    color: rgb(29, 100, 181);
    padding-left: 5vw;
  }
  .nav-item{
    padding: 0 10px;
    margin: 10px;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .nav-link{
    font-size: 1.2rem;
    color: rgb(39, 38, 38);
  }
  .navbar-nav{
    width: 25vw;
    margin-left: 20vw;
  }